<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
     
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Attandance_Project.Properties.Settings.Attandance_SystemConnectionString"
            connectionString="Data Source=HP-ELITEBOOK\OSAMA12;Initial Catalog=Attandance_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Attandance_Project.Properties.Settings.Attandance_SystemConnectionString1"
            connectionString="Data Source=DESKTOP-K3NHTFQ;Initial Catalog=Attandance_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>